nav .container {
  background-image: url(../images/attributions-images/projectbgc-min.png);
}
nav .container .pic {
  filter: hue-rotate(240deg);
  font-size: 28px;
}
article sub {
  font-style: italic;
  font-size: 12px;
}
article #sub {
  font-style: normal;
}
article h2 {
  margin: 40px 0 20px;
  text-align: left;
}
article p {
  margin-top: 20px;
}
article h5 {
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #9e9ea0;
  text-align: center;
}
article .imgbox {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
article .imgbox img {
  display: block;
  width: 60%;
  margin: 20px auto 10px;
}
article table {
  margin: 20px auto 10px;
  border-collapse: separate;
  border-spacing: 0;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
}
article table td {
  text-align: center;
  padding: 5px;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  font-size: 16px;
  line-height: 20px;
}
article table tr:first-child td {
  background-color: #f2f2f2;
}
